
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
  }

  header {
    background-color: #0099cc;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
 
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    font-size: 24px;
    color: #0099cc;
    margin-top: 0;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  li {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
    font-size: 14px;
  }
  

  a {
    color: #0099cc;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  